
.card-group{
    
   h2{
    font-family: $fontPrincipal;
    font-size: $textMd;
   }
   p{
    font-family: $fontSecundaria;
   }
   .card-body{
   
   }
   .card{
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
        img{
            border-top-left-radius: 10px !important;
            border-top-right-radius: 10px !important;
    }
   }
   
}