
//colors
$colorPrincipal: #cb2e40;
$colorSengudo: #de5571;
$colorTercero:black;
$colorCuarto:white;

//fonts
$fontPrincipal: 'Nothing You Could Do', sans-serif;
$fontSecundaria: 'Poppins', sans-serif;

//sizing
$textSx: .8em;
$textSm: 1.1em;
$textMd: 1.5em;
$textLg: 2em;
$textXl: 3em;

//font weight
$fontLight:100;
$fontRegular:400;
$fontBold:600;






